.TextWrapLeft {
	clear: left
	float: left
	margin: 10px;
}

.bookcover {
	margin-top: 30px;
	margin-right: 10px;
	height: 170px;
	min-width: 110px;
	width: auto !important;
	width: 110px;
	vertical-align: top;
}

.btitle {
	font-variant: small-caps;
}
