.TextWrapRight {
	clear: right
	float: right
	margin: 30px;
}

.bookcover {
	margin-top: 30px;
	margin-right: 10px;
	min-width: 110px;
	width: 110px;
	vertical-align: top;
}

.btitle {
	font-variant: small-caps;
}
