{% assign sortedpages = site.pages | sort:"weight" %}
<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <ul class="social-media-list">

          <li>
        	{% for page in sortedpages %}
				{% if page.site_menu %}
          			<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %}


				{% if forloop.last == false and page.site_menu %}
					&nbsp;&mdash;&nbsp; 
				{% endif %}

        	{% endfor %}
			<br>
			<br>
			<center><span class="text">{{ site.description }}</span></center>
          </li>

        </ul>
      </div>
    </div>

  </div>

</footer>
