<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.noindex %}
	<!-- meta robots -->
	<meta name="robots" content="noindex" />
    {% endif %}

    <title>{% if page.title %}{{ site.title }} - {{ page.title }} - {{ site.banner }}{% else %}{{ site.title }} - {{ site.banner }}{% endif %}</title>
    <meta name="description" content="{% if page.seo_description %}{{ page.seo_description }}{% else %}{{ site.seo_description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/pure-min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/pure-grids-responsive-min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/local.css" | prepend: site.baseurl }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
