---
layout: default
---

<div class="post">

<ul style="list-style-type: none;" id="work-ul" class="work-ul">

	{% for collection in site.data.collections.collections %}
	{% if collection.id == page.collection_id %}

		{% if collection.img %}
			{% if collection.img_url %}<a href="{{ collection.img_url }}">{% endif %}
			<img width="140px" align="right" src="{{ site.baseurl }}/images/covers/{{ collection.img }}"
			{% if collection.img_title %} title="{{ collection.img_title }}"{% endif %}
			></img>
			{% if collection.img_url %}</a>{% endif %}
		{% endif %}

		<span class="btitle">Collection</span>
		<header class="post-header">
			<h3 class="post-title"><em>{{ page.title }}</em><br><span style="font-size: 70%">&mdash;R.&nbsp;A.&nbsp;Lafferty</span></h3>
		</header>

		<br>
		{% if collection.year %}
		<ul class="work-award taglist">
			<i style="color:#ADADAD;" class="fa fa-calendar"></i> &nbsp;
			&middot; 
			{% if collection.isfdb %}
				<a href="{{ collection.isfdb }}">{{ collection.year }}</a>
			{% else %}
				{{ collection.year }}
			{% endif %}
		</ul>
		<br><br>
		{% endif %}

		{% for story in collection.stories %}
			{% for work in site.data.consensus.consensus %}
			{% if story.id == work.id %}
				<li id="li-{{ story.id }}" class="work-li">

				&nbsp;&nbsp;
				<span class="btitle">
					{% if work.excerpt %}
						<a href="javascript:void(0);" onclick="toggle_story(this);">
					{% endif %}

					{{ work.title }}

					{% if work.excerpt %}
						</a>
					{% endif %}
				</span>

				{% if work.isfdb %}
					(<a href="{{ work.isfdb }}">{{ work.year }}</a>)
				{% else %}
					({{ work.year }})
				{% endif %}

				{% include ratings.html %}

				{% include excerpt.html %}

				{% include read-online.html %}

				{% include awards.html %}

				{% include reviews.html %}

				<ul class="taglist" style="list-style-type: none;">
				    <li id="work-tags" class="work-tags"></li>
				    <li><i style="color:#ADADAD;" class="fa fa-comment"></i>
				    &nbsp; &middot; <a class="disqus-comment-count" data-disqus-identifier="d-story-{{ story.id }}" href="{{ site.baseurl }}/works/stories/{{ work.url }}">Comments</a>
				    </li>
				</ul>

			{% break %}
			{% endif %}
			{% endfor %}
			</li>
		{% endfor %}
		</ul>
	{% break %}
	{% endif %}
	{% endfor %}

</div>

<script type="text/javascript">

function toggle_story ( node )
{
	var gp = node.parentNode.parentNode; /* <li> */
	var items = gp.getElementsByClassName ( 'work-summary' );

	for (i=0; i < items.length; i++)
	{
		es = items[i].style;
		es.display = es.display == 'none'? '' : 'none';
	}
	return false;
}

var disqus_shortname = '{{ site.disqus_shortname }}';
var disqus_identifier = '';
var disqus_url = '';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true; s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());

</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
