---
layout: default
---


<span class="btitle">Collection</span>
<header class="post-header">
	<h3 class="post-title"><em>{{ page.title }}</em><br><span style="font-size: 70%">&mdash;R.&nbsp;A.&nbsp;Lafferty</span></h3>
</header>

<div class="post">

<ul style="list-style-type: none;" id="work-ul" class="work-ul">

	{% for collection in site.data.collections.collections %}
	{% if collection.id == page.collection_id %}

		{% if collection.img %}
		<img width="140px" align="right" src="{{ site.baseurl }}/images/covers/{{ collection.img }}"></img>
		{% endif %}

		<br>
		{% if collection.year %}
		<ul class="work-award taglist">
			<i style="color:#ADADAD;" class="fa fa-calendar"></i> &nbsp;
			&middot; 
			{% if collection.isfdb %}
				<a href="{{ collection.isfdb }}">{{ collection.year }}</a>
			{% else %}
				{{ collection.year }}
			{% endif %}
		</ul>
		<br><br>
		{% endif %}

		{% for story in collection.stories %}
			{% for story_details in site.data.consensus.consensus %}
			{% if story.id == story_details.id %}
				<li id="li-{{ story.id }}" class="work-li">

				&nbsp;&nbsp;
				<span class="btitle">
					{% if story_details.excerpt %}
						<a href="javascript:void(0);" onclick="toggle_story(this);">
					{% endif %}

					{{ story_details.title }}

					{% if story_details.excerpt %}
						</a>
					{% endif %}
				</span>

				{% if story_details.isfdb %}
					(<a href="{{ story_details.isfdb }}">{{ story_details.year }}</a>)
				{% else %}
					({{ story_details.year }})
				{% endif %}

				{% include ratings.html %}

				{% if story_details.excerpt %}
				<ul style="display:none" class="work-summary"><blockquote>
					{% if story_details.timeline %}({{ story_details.timeline }} A.D.){% endif %}
					"{{ story_details.excerpt }}" &nbsp;&mdash;R. A. Lafferty
				</blockquote></ul>
				{% endif %}

				{% include read-online.html %}

				{% include awards.html %}

				{% include reviews.html %}

				<ul class="taglist" style="list-style-type: none;">
				    <li id="work-tags" class="work-tags"></li>
				    <li><i style="color:#ADADAD;" class="fa fa-comment"></i>
				    &nbsp; &middot; <a class="disqus-comment-count" data-disqus-identifier="d-story-{{ story.id }}" href="{{ site.baseurl }}/works/stories/{{ story_details.url }}">Comments</a>
				    </li>
				</ul>

			{% break %}
			{% endif %}
			{% endfor %}
			</li>
		{% endfor %}
		</ul>
	{% break %}
	{% endif %}
	{% endfor %}

</div>

<br><br>
<div id="disqus_thread"></div>

<br>
<br>
<p class="post-content"><b>Copyright & Licensing</b>: If you submit a comment, you agree to license the original text of your comment as <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>, allowing others to share and adapt your comment for any purpose, even commercially, as long as attribution is given and changes are indicated.  Please see the full <a href="https://creativecommons.org/licenses/by/4.0/legalcode">license</a>.</p>

<p class="post-content">Literary criticism of Lafferty has been sparse, and valuable essays remain out of print due to unclear license or estate status. The CC-BY license provides an option for Lafferty scholars to republish and critique your writing, and enables Lafferty archivists to migrate comments to new platforms and media.</p>

<script type="text/javascript">

function toggle_story ( node )
{
	var gp = node.parentNode.parentNode; /* <li> */
	var items = gp.getElementsByClassName ( 'work-summary' );

	for (i=0; i < items.length; i++)
	{
		es = items[i].style;
		es.display = es.display == 'none'? '' : 'none';
	}
	return false;
}

var disqus_shortname = '{{ site.disqus_shortname }}';
var disqus_identifier = '';
var disqus_url = '';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true; s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());

var disqus_identifier = 'd-collection-{{ page.collection_id }}';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var s = document.createElement('script'); 
s.type = 'text/javascript'; 
s.async = true;
s.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
})();

</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
