---
layout: default
---

<span class="btitle"><a href="/works/#novels">Novels</a></span>
<header class="post-header">
	<h3 class="post-title"><em>{{ page.title }}</em><br><span style="font-size: 70%">&mdash;R.&nbsp;A.&nbsp;Lafferty</span></h3>
</header>

<div class="post pure-g">

<div class="pure-u-1 pure-u-md-4-5">

	{% for work in site.data.novels.novels %}
		{% if work.id == page.novel_id %}

				<ul style="list-style-type: none;" id="work-ul" class="work-ul">
				<li id="li-{{ story.id }}" class="work-li">

				<br>
				<ul class="work-award taglist">
					<i style="color:#ADADAD;" class="fa fa-calendar"></i> &nbsp;
					&middot; 
					{% if work.isfdb %}
						<a href="{{ work.isfdb }}">{{ work.year }}</a>
					{% else %}
						{{ work.year }}
					{% endif %}
				</ul>

				{% include awards.html %}

				{% if work.excerpt %}
				<i style="color:#ADADAD;" class="fa fa-file-text-o"></i> &nbsp;
				&middot; <a href="javascript:void(0);" onclick="toggle_story(this);">Excerpt</a>
				<ul style="display:block" class="work-summary"><blockquote>
					{% if work.timeline %}({{ work.timeline }} A.D.){% endif %}
					"{{ work.excerpt }}" &nbsp;&mdash;R.&nbsp;A.&nbsp;Lafferty 
				</blockquote></ul>
				{% endif %}

				{% for comment in work.ral_comments %}
					{% if forloop.first %}
						<i style="color:#ADADAD;" class="fa fa-microphone"></i> &nbsp;
						&middot; <a href="javascript:void(0);" onclick="toggle_story(this);">Commentary</a>
					{% endif %}

					<ul style="display:block" class="work-summary">
					<blockquote>&ldquo;{{ comment.excerpt }}&rdquo;<br>&nbsp;&nbsp;&nbsp;&mdash;R.&nbsp;A.&nbsp;Lafferty, 
					{% if comment.subtitle %}{{ comment.subtitle | replace: ' ', '&nbsp;' }}, {% endif %}
					{{ comment.title | replace: ' ', '&nbsp;' }}&nbsp;({{ comment.year }})</blockquote>
					</ul>

				{% endfor %}

				{% include reviews.html %}

				</li>
			</ul>

		{% assign var_idx_work = forloop.index0 %}
		{% break %}
		{% endif %}
	{% endfor %}

	<br>

	<div id="disqus_thread"></div>

</div>
<div class="pure-u-0 pure-u-md-1-5">
	<center>
	<div class="l-box">
		{% for edition in site.data.novels.novels[var_idx_work].editions %}
		<a href="{{ edition.url }}"><img align="top" hspace="5" vspace="7" width="100px" src="{{ site.baseurl }}/images/covers/{{ edition.img }}" title="{{ edition.year }}"></a>
		{% endfor %}
	</div>
	</center>
</div>

</div>

<br>
<br>
<p class="post-content"><b>Copyright & Licensing</b>: If you submit a comment, you agree to license the original text of your comment as <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>, allowing others to share and adapt your comment for any purpose, even commercially, as long as attribution is given and changes are indicated.  Please see the full <a href="https://creativecommons.org/licenses/by/4.0/legalcode">license</a>.</p>

<p class="post-content">Literary criticism of Lafferty has been sparse, and valuable essays remain out of print due to unclear license or estate status. The CC-BY license provides an option for Lafferty scholars to republish and critique your writing, and enables Lafferty archivists to migrate comments to new platforms and media.</p>

<script type="text/javascript">

function toggle_story ( node )
{
	var gp = node.parentNode.parentNode; /* <li> */
	var items = gp.getElementsByClassName ( 'work-summary' );

	for (i=0; i < items.length; i++)
	{
		es = items[i].style;
		es.display = es.display == 'none'? '' : 'none';
	}
	return false;
}

var disqus_shortname = '{{ site.disqus_shortname }}';
var disqus_identifier = 'd-story-{{ page.story_id }}';
var disqus_url = '';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var s = document.createElement('script'); 
s.type = 'text/javascript'; 
s.async = true;
s.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
})();

</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
