---
layout: default
---

<span class="btitle"><a href="/works/stories/">Short Stories</a></span>
<header class="post-header">
	<h3 class="post-title"><em>{{ page.title }}</em><br><span style="font-size: 70%">&mdash;R.&nbsp;A.&nbsp;Lafferty</span></h3>
</header>

<div class="post pure-g">

<div class="pure-u-1 pure-u-md-4-5">

	{% for story in site.data.stories.stories %}
		{% if story.id == page.story_id %}
	  	{% for work in site.data.consensus.consensus %}

			{% if story.id == page.story_id and story.id == work.id %}

				<ul style="list-style-type: none;" id="work-ul" class="work-ul">
				<li id="li-{{ story.id }}" class="work-li">

				{% include ratings.html %}

				<br>
				<ul class="work-award taglist">
					<i style="color:#ADADAD;" class="fa fa-calendar"></i> &nbsp;
					&middot; 
					{% if work.isfdb %}
						<a href="{{ work.isfdb }}">{{ work.year }}</a>
					{% else %}
						{{ work.year }}
					{% endif %}
				</ul>

				{% if work.excerpt %}
				<i style="color:#ADADAD;" class="fa fa-file-text-o"></i> &nbsp;
				&middot; <a href="javascript:void(0);" onclick="toggle_story(this);">Excerpt</a>
				<ul style="display:block" class="work-summary"><blockquote>
					{% if work.timeline %}({{ work.timeline }} A.D.){% endif %}
					"{{ work.excerpt }}" &nbsp;&mdash;R.&nbsp;A.&nbsp;Lafferty 
				</blockquote></ul>
				{% endif %}

				{% include read-online.html %}

				{% include awards.html %}

					{% for tag in site.data.reviewer-tags.tag %}
						{% for map in tag.map %}
							{% if story.id == map.id %}
								{% assign storytags = map.tags|split:&nbsp; %}
								{% for storytag in storytags %}
									{% if forloop.first %}
										<ul class="taglist" style="list-style-type: none;">
										<li id="work-tags" class="work-tags">
										<i style="color:#ADADAD;" class="fa fa-tag"></i> &nbsp;
									{% endif %}
									{% for definition in tag.definition %}
										{% if definition.id == storytag %}
											&middot;&nbsp;<a href="{{ site.baseurl }}/works/stories/?tag={{ definition.id }}">{{ definition.title }}</a> &nbsp;
										{% break %}
										{% endif %}
									{% endfor %}
									{% if forloop.last %}
										</li>
										</ul>
									{% endif %}
								{% endfor %}
							{% break %}
							{% endif %}
						{% endfor %}
					{% endfor %}

				{% include reviews.html %}

				<ul class="work-review taglist">
				<i style="color:#ADADAD;" class="fa fa-search"></i> &nbsp;
				&middot;&nbsp;<a href="https://www.google.com/search?q=%22r.a.+lafferty%22+%22{{ work.title | replace: ' ', '+' }}%22">Search</a>
				</ul>

				</li>
			</ul>

			{% assign var_idx_work = forloop.index0 %}
			{% break %}
			{% endif %}
  		{% endfor %}

		{% assign var_idx_story = forloop.index0 %}
		{% break %}
		{% endif %}
	{% endfor %}

  <br>

	<div class="pure-u-1 pure-u-md-4-5" id="disqus_thread"></div>

</div>
<div class="pure-u-0 pure-u-md-1-5">
		<center>
		<div class="l-box">
		{% for item in site.data.consensus.consensus[var_idx_work].collections %}
			{% for collection in site.data.collections.collections %}
				{% if item.id == collection.id  %}
					{% if collection.url %}
							<a href="{{ site.baseurl }}/works/collections/{{ collection.url }}/"><img hspace="5" vspace="7" width="100px" src="{{ site.baseurl }}/images/covers/{{ collection.img }}"><img></a>
					{% else %}
							<a href="{{ collection.isfdb }}"><img hspace="5" vspace="7" width="100px" src="{{ site.baseurl }}/images/covers/{{ collection.img }}"><img></a>
					{% endif %}
				{% break %}
				{% endif %}
			{% endfor %}
		{% endfor %}
		</div>
</div>

</div>

<br>
<br>
<p class="post-content"><b>Copyright & Licensing</b>: If you submit a comment, you agree to license the original text of your comment as <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>, allowing others to share and adapt your comment for any purpose, even commercially, as long as attribution is given and changes are indicated.  Please see the full <a href="https://creativecommons.org/licenses/by/4.0/legalcode">license</a>.</p>

<p class="post-content">Literary criticism of Lafferty has been sparse, and valuable essays remain out of print due to unclear license or estate status. The CC-BY license provides an option for Lafferty scholars to republish and critique your writing, and enables Lafferty archivists to migrate comments to new platforms and media.</p>

<script type="text/javascript">

function toggle_story ( node )
{
	var gp = node.parentNode.parentNode; /* <li> */
	var items = gp.getElementsByClassName ( 'work-summary' );

	for (i=0; i < items.length; i++)
	{
		es = items[i].style;
		es.display = es.display == 'none'? '' : 'none';
	}
	return false;
}

var disqus_shortname = '{{ site.disqus_shortname }}';
var disqus_identifier = 'd-story-{{ page.story_id }}';
var disqus_url = '';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var s = document.createElement('script'); 
s.type = 'text/javascript'; 
s.async = true;
s.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
})();

</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
